# Detekt configuration file for ArguMentor
# See https://detekt.dev/docs/introduction/configurations/

build:
  maxIssues: 0

complexity:
  active: true
  LongMethod:
    active: true
    threshold: 60
  LongParameterList:
    active: true
    functionThreshold: 6
    constructorThreshold: 7
    ignoreDefaultParameters: true
    ignoreDataClasses: true
    ignoreAnnotated: ['Composable']

coroutines:
  active: true
  GlobalCoroutineUsage:
    active: true
  SuspendFunWithFlowReturnType:
    active: true

naming:
  active: true
  FunctionNaming:
    active: true
    ignoreAnnotated: ['Composable']

performance:
  active: true
  ForEachOnRange:
    active: true

potential-bugs:
  active: true
  UnnecessaryNotNullOperator:
    active: true
  UnsafeCallOnNullableType:
    active: true

style:
  active: true
  MaxLineLength:
    active: true
    maxLineLength: 120
  ReturnCount:
    active: true
    max: 4
    excludeGuardClauses: true
